<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="icon" href="{% static 'icon\icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Create an Account</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</body>
</html>
